@font-face {
  font-family: "Poppins-light";
  src: url("../fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "Poppins-regular";
  src: url("../fonts/Poppins-Medium.ttf");
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100%;
}

#container {
  width: 375px;
  height: 841px;
  min-width:375px;
  min-height:841px;
  display: grid;
  grid-template-rows: 40% 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 39px;
  background: linear-gradient(191.34deg, #17181a -4.95%, #17181a 103.74%);
}
#screen-container {
  display: grid;
  grid-template-rows: 50% 50%;
  margin: 25px;
}
#screen-operations {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin-right: 3%;
  left: 167px;
  top: 138px;
  font-family: "Poppins-light";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #818181;
}
#screen-result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3%;
  font-family: "Poppins-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}

#e-btn {
  grid-area: e;
}
#u-btn {
  grid-area: u;
}
#sin-btn {
  grid-area: sin;
}
#deg-btn {
  grid-area: deg;
}
#ac-btn {
  grid-area: ac;
}
#del-btn {
  grid-area: del;
}
#div-btn {
  grid-area: div;
}
#mult-btn {
  grid-area: mult;
}
#deg {
  grid-area: deg;
}
#btn7 {
  grid-area: seven;
}
#btn8 {
  grid-area: eight;
}
#btn9 {
  grid-area: nine;
}
#btn4 {
  grid-area: four;
}
#btn5 {
  grid-area: five;
}
#btn6 {
  grid-area: six;
}
#btn1 {
  grid-area: one;
}
#btn2 {
  grid-area: two;
}
#btn3 {
  grid-area: three;
}
#btn-point {
  grid-area: point;
}
#btn-minus {
  grid-area: minus;
}
#btn-plus {
  grid-area: plus;
}
#btn-equal {
  grid-area: equal;
}
#btn0 {
  grid-area: zeroo;
}

#buttons-container {
  display: grid;
  grid-template-areas:
    "e u sin deg"
    "ac del div mult"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zeroo zeroo point equal";
  gap: 15px;
  margin: 30px;
  grid-template-rows: 8% 14% 14% 14% 14% 14%;
  grid-template-columns: 22% 22% 22% 22%;
}

input {
  font-family: "Poppins-regular";
  font-size: 20px;
  border-radius: 16px;
  cursor: pointer;
  border: 0px;
}

#e-btn,
#u-btn,
#sin-btn,
#deg-btn,
#btn0,
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9,
#btn-point {
  background-color: #303136;
  color: #29a8ff;
}
#e-btn,
#u-btn,
#sin-btn,
#deg-btn {
  font-size: 15px;
}
#btn0,
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9 {
  font-size: 30px;
}

#ac-btn,
#del-btn {
  background-color: #616161;
  color: #a5a5a5;
}
#div-btn,
#mult-btn,
#btn-minus,
#btn-plus {
  background-color: #005db2;
  color: #339dff;
}
#btn-equal {
  background-color: #1991ff;
  color: #b2daff;
}

/*MOBILE DESIGN*/

@media (max-width:376px){
    #container {
        width: 100%;
        height: 100%px;      
        display: grid;
        grid-template-rows: 40% 60%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 39px;
        background: linear-gradient(191.34deg, #17181a -4.95%, #17181a 103.74%);
      }
}